/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Global font styles */
body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar general styles */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  font-family: 'Poppins', sans-serif; /* Apply Poppins to navbar */
}

.navbar-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 60px;
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  align-items: end;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-button {
  background-color: #a32657;
  color: #fff;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
}

.nav-button:hover {
  background-color: #fc8c63;
  transform: scale(1.05);
}

/* Responsive styles for screens less than 768px */
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 20px;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }

  .nav-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .nav-button {
    width: 100%;
  }
}
