/* Global body styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Apply Poppins globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4; /* Light background */
  font-weight: 400; /* Regular weight by default */
  line-height: 1.5; /* Standard line height */
}

h1, h2, h3 {
  font-weight: 600; /* Semi-bold for headings */
}

p {
  font-weight: 400; /* Regular for paragraphs */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Utility classes for margins and padding */
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}
